<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lanqiao.booksystem.mapper.AdministratorMapper">

    <select id="getAdminByUserName" parameterType="String" resultType="cn.lanqiao.booksystem.modle.pojo.AdminInfo">
        SELECT * FROM admin_info WHERE operator_name = #{operatorName}
    </select>

    <insert id="registerAdmin" parameterType="cn.lanqiao.booksystem.modle.pojo.AdminInfo">
        INSERT INTO admin_info(operator_name, operator_pass) VALUES(#{operatorName}, #{operatorPass})
    </insert>
</mapper>