<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.booksystem.mapper.AdminInfoMapper">

    <resultMap id="operatorId" type="cn.lanqiao.booksystem.modle.pojo.AdminInfo">
        <id property="operatorId" column="operatorId"/>
        <result property="operatorName" column="operatorName"/>
        <result property="operatorPass" column="operatorPass"/>
    </resultMap>

    <!--  管理员登录功能  -->
    <select id="login" resultType="cn.lanqiao.booksystem.modle.pojo.AdminInfo">
        select * from admin_info where operatorName = #{operatorName} and operatorPass = #{operatorPass};
    </select>

    <!--  管理员注册功能  -->
    <insert id="register">
        insert into admin_info values (null,#{operatorName},#{operatorPass});
    </insert>

</mapper>