<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.booksystem.mapper.BooksInfoMapper">

    <resultMap id="BaseResultMap" type="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
            <id property="bid" column="bid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="card" column="card" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="press" column="press" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="beginTime" column="begin_time" jdbcType="INTEGER"/>
            <result property="endTime" column="end_time" jdbcType="INTEGER"/>

    </resultMap>
    <resultMap id="BaseResultMap1" type="cn.lanqiao.booksystem.modle.pojo.BookHisInfo">
        <id property="hid" column="hid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="aid" column="aid" jdbcType="INTEGER"/>
        <result property="bid" column="bid" jdbcType="INTEGER"/>
        <result property="card" column="card" jdbcType="VARCHAR"/>
        <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="beginTime" column="begin_time" jdbcType="INTEGER"/>
        <result property="endTime" column="end_time" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        bid,name,card,
        author,num,press,
        type,status
    </sql>

    <!-- 检查图书状态 -->
    <select id="checkBookStatus" resultMap="BaseResultMap">
        select * from books_info where bid = #{bid} and status = 1
    </select>


    <update id="returnBook">
        update books_info bi , book_his_info bh set bi.status = 1,bh.status = 1 where bi.bid = #{bid} and bh.bid = #{bid};
    </update>

    <delete id="deleteInfo">
        delete from book_his_info where bid = #{bid};
    </delete>

    <update id="changeStatus">
        update books_info set status=2 where bid=#{bid};
    </update>
    <insert id="borrow">
        insert into book_his_info VALUES(null,#{userId},#{bookHisInfo.bid},#{bookHisInfo.card},#{bookHisInfo.name},
                                         (select username from user_info where aid = #{userId}),
                                         (select name from user_info where aid = #{userId}),
                                         #{bookHisInfo.beginTime},#{bookHisInfo.endTime},2);
    </insert>
    <select id="selectUserBooks" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        select * from books_info;
    </select>
    <select id="selectUserBorrow" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        select * from book_his_info where aid=#{aid};
    </select>
    <select id="selectBooksByName" resultType="cn.lanqiao.booksystem.modle.pojo.BookHisInfo">
        select * from book_his_info
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            and status != 0 limit #{page},#{pageSize};
        </where>
    </select>
    <select id="selectBooksByCard" resultType="cn.lanqiao.booksystem.modle.pojo.BookHisInfo">
        select * from book_his_info
        <where>
            <if test="card != null and card != ''">
                and card like concat('%',#{card},'%')
            </if>
            and status != 0 limit #{page},#{pageSize};
        </where>
    </select>
</mapper>
