<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.booksystem.mapper.BooksInfoMapper">

    <resultMap id="BaseResultMap" type="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
            <id property="bid" column="bid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="card" column="card" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="press" column="press" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="beginTime" column="begin_time" jdbcType="INTEGER"/>
            <result property="endTime" column="end_time" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        bid,name,card,
        author,num,press,
        type,status
    </sql>
    <select id="selectUserBooks" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        select * from books_info where status=1;
    </select>
    <select id="selectUserBorrow" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        SELECT b.name,b.card,h.begin_time,h.end_time FROM book_his_info h INNER JOIN books_info b ON h.bid = b.bid;
    </select>
</mapper>
