<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.booksystem.mapper.BookMapper">
    <select id="getBookType" resultType="cn.lanqiao.booksystem.modle.pojo.BookTypeInfo">
        select * from book_type_info where del = 0;
    </select>
    <select id="selectBooksByName" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        select * from books_info
            <where>
                <if test="name != null and name != ''">
                    and name like concat('%',#{name},'%')
                </if>
            and status != 0 limit #{page},#{pageSize};
            </where>

    </select>

    <select id="selectBooksByAuthor" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        select * from books_info
        <where>
            <if test="author != null and author != ''">
                and author like concat('%',#{name},'%')
            </if>
            and status != 0 limit #{page},#{pageSize};
        </where>
    </select>

    <select id="selectBooksByType" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        select * from books_info
        <where>
            <if test="type != null and type != ''">
                and type like concat('%',#{type},'%')
            </if>
            and status != 0 limit #{page},#{pageSize};
        </where>
    </select>

    <select id="selectBooksByCard" resultType="cn.lanqiao.booksystem.modle.pojo.BooksInfo">
        select * from books_info
        <where>
            <if test="card != null and card != ''">
                and card like concat('%',#{card},'%')
            </if>
            and status != 0 limit #{page},#{pageSize};
        </where>
    </select>


    <insert id="addBook">
        insert into books_info values(null,#{name},#{card},#{author},#{num},#{press},#{type},1);
    </insert>

    <update id="editBookInfo">
        update books_info set name = #{name},card = #{card},author = #{author},num = #{num},press = #{press},type = #{type} where bid = #{bid};
    </update>

    <delete id="deleteBooks">
        update books_info set status = 0 where bid in
        <foreach collection="bids" item="bid" open="(" separator="," close=")">
            #{bid}
        </foreach>
    </delete>



</mapper>